/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 12pt;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 15.5px;
    border-left: 5px solid #eee;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 15pt;
  font-weight: bold;
}
